-#  Copyright (c) 2012-2025, Schweizer Wanderwege. This file is part of
-#  hitobito_sww and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sww.

= f.labeled_input_field(:logo_on_every_page)

= f.labeled_input_field(:separators)

= field_set_tag do
  %div{data: { controller: 'form-field-toggle', 'form-field-toggle-hide-on-value': false}}
    %div
      = f.labeled_input_field(:use_header, data: { action: 'input->form-field-toggle#toggle'})

    %div{data: { 'form-field-toggle-target': 'toggle' }, class: entry.use_header ? "" : "hidden"}
      = f.labeled_rich_text_area :header, rows: 20
