-# Copyright (c) 2012-2022, Schweizer Wanderwege. This file is part of
-# hitobito_sww and licensed under the Affero General Public License version 3
-# or later. See the COPYING file at the top-level directory or at
-# https://github.com/hitobito/hitobito_sww.

= field_set_tag do
  = f.labeled_input_field :custom_salutation
  = f.labeled_input_field :magazin_abo_number
  = f.labeled_input_field :name_add_on
  = f.labeled_input_field :title
