-#  Copyright (c) 2012-2025, Schweizer Wanderwege. This file is part of
-#  hitobito_sww and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sww.

= c.fields_for do |form|
  = form.labeled_collection_select :gender, form.object.gender_options, :first, :last, { }, class: "form-select form-select-sm"
  = form.labeled_input_field :first_name, required: true
  = form.labeled_input_field :last_name, required: true
  = form.labeled_input_field :company_name
  = form.labeled_boolean_field :company
  = form.labeled_input_field :email, label: t('groups.self_registration.main_person.email'), help_inline: t('people.email_field.used_as_login'), required: true, class:'d-inline'
  = form.labeled(:street, t('groups.self_registration.main_person.street_house_nr'), nil, class: 'd-flex') do
    .col-8.col-lg-9
      = form.input_field(:street)
    .col-3.col-lg-2.offset-1
      = form.input_field(:housenumber)
  = form.labeled(:zip_code, t('contactable.fields.zip_town'), nil, class: 'd-flex') do
    .col-5.col-md-4.col-lg-3
      = form.input_field(:zip_code, maxlength: 10)
    .col-6.col-md-7.col-lg-8.offset-1
      = form.input_field(:town)
  = form.labeled(:country) do
    .shown.ms-0
      = form.country_select('country',
                      { priority_countries: Settings.countries.prioritized,
                        selected: form.object.country,
                        include_blank: "" },
                      { class: 'form-select form-select-sm tom-select',
                        data: { placeholder: ' ',
                                chosen_no_results: t('global.chosen_no_results'),
                                typeahead_supported_countries: Settings.addresses.imported_countries } })

  = form.labeled_date_field :birthday, label: t('groups.self_registration.main_person.birthday'), yearRange: '-100:+0'

  .selfregister-conditions.align-with-form
    .title
      = t('groups.self_registration.main_person.terms_of_use_title')
    = sanitize(t('groups.self_registration.main_person.terms_of_use_text', link: link_to_sww_terms_of_use), tags: ['a'], attributes: %w(target href))

  .selfregister-conditions.align-with-form
    .title
      = t('groups.self_registration.main_person.privacy_title')
    = sanitize(t('groups.self_registration.main_person.privacy_text', link: link_to_sww_privacy), tags: ['a'], attributes: %w(target href))

  = field_set_tag(nil, class: 'privacy-policy-form') do
    = render('people/privacy_policy_acceptance_field', f: form, policy_finder: policy_finder)
