-#  Copyright (c) 2023, Schweizer Wanderwege. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sww.

= entry_form(url: group_self_registration_path, cancel_url: '') do |f|
  = f.honeypot(:verification)

  = f.fields_for(:new_person, entry.person) do |fields|
    = render('shared/error_messages', errors: entry.person.errors, object: entry.person)
    = field_set_tag do
      = fields.labeled(:gender, t('.salutation')) do
        = fields.collection_select :gender, [[:w, 'Frau'], [:m, 'Herr'], [nil, 'Andere']], :first, :last
      = fields.labeled_input_field :first_name, required: true
      = fields.labeled_input_field :last_name, required: true
      = fields.labeled_input_fields :company_name, :company
      = fields.labeled(:email, t('.email')) do
        = fields.input_field :email, help_inline: t('people.email_field.used_as_login'), required: true
      = fields.labeled(:street, t('.street_house_nr'), nil, class: 'controls-row') do
        = text_field_tag('role[new_person][street]', nil, class: 'span5', required: true)
        = text_field_tag('role[new_person][house_number]', nil, class: 'span1', required: true)
      = fields.labeled(:zip_code, t('contactable.fields.zip_town'), nil, class: 'controls-row') do
        = fields.string_field(:zip_code, class: 'span2', maxlength: 10)
        = fields.string_field(:town, class: 'span4')
      = fields.labeled_input_field :birthday

      = render('people/privacy_policy_acceptance_field', policy_finder: @policy_finder, f: fields)
